@font-face {
    font-family: 'Pixelate';
    src: url('/fonts/Pixelate.woff2') format('woff2'),
         url('/fonts/Pixelate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
